body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: blue;
}

div {
    color: gray;
    font-weight: bold;
}

p {
    color: black;
}

ol {
    list-style-position: inside;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}